/* Body */

#myGridContainer {
    background-color: cadetblue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}


/* Header */

#myHeader {
    background-color: grey;
    grid-column: 1/5;
    grid-row: 1/2;
}

#myH1Element {
    background-color: snow;
}


/* Navbar */

#myNavbar {
    background-color: thistle;
    grid-column: 1/5;
    grid-row: 2/3;
}

#myNavList {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

#myFirstNav {
    background-color: darkorange;
    padding: 10px;
}

#mySecondNav {
    background-color: royalblue;
    padding: 10px;
}

#myThirdNav {
    background-color: mediumorchid;
    padding: 10px;
}

#myFourthNav {
    background-color: blueviolet;
    padding: 10px;
}


/* Main */

#myMainSection {
    background-color: lightcoral;
    grid-column: 1/5;
    grid-row: 3/4;
}


/* Footer */

#myFunkyFooter {
    grid-column: 1/5;
    grid-row: 4/5;
    background-color: burlywood;
}