#hover {
    border: 1px solid blue;
    margin: center;
    padding: 50px;
    text-align: center;
    font-size: 50px;
    display: flex;
    flex-direction: row;
}

#click {
    border: 1px solid blue;
    margin: center;
    padding: 50px;
    text-align: center;
    font-size: 50px;
    display: flex;
    flex-direction: row;
}

#dbl-click {
    border: 1px solid blue;
    margin: center;
    padding: 50px;
    text-align: center;
    font-size: 50px;
    display: flex;
    flex-direction: row;
}

#scroll {
    border: 1px solid blue;
    margin: center;
    padding: 50px;
    text-align: center;
    font-size: 50px;
    display: flex;
    flex-direction: row;
}