#hover {
    border: 5px solid blue;
    margin: center;
    padding: 50px;
    text-align: center;
    font-size: 50px;
    display: flex;
    flex-direction: row;
}

#click {
    border: 5px solid red;
    margin: center;
    padding: 50px;
    text-align: center;
    font-size: 50px;
    display: flex;
    flex-direction: row;
}

#dbl-click {
    border: 5px solid green;
    margin: center;
    padding: 50px;
    text-align: center;
    font-size: 44px;
    display: flex;
    flex-direction: row;
}

#scroll {
    border: 5px solid orange;
    margin: center;
    padding: 50px;
    text-align: center;
    font-size: 50px;
    display: flex;
    flex-direction: row;
}