/*===========Add Block============*/

#addition {
    color: cornsilk;
    background-color: grey;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

#add1 {
    margin: center;
}

#add2 {
    margin: center;
}

#addbtn {
    background-color: blue;
    color: cornsilk;
    border-radius: 4px;
    margin: auto;
}


/*==========Sub Block===========*/

#subtraction {
    color: cornsilk;
    background-color: grey;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

#sub1 {
    margin: center;
}

#sub2 {
    margin: center;
}

#subbtn {
    background-color: red;
    color: cornsilk;
    border-radius: 4px;
    margin: auto;
}


/*==========Mul Block===========*/

#multiplication {
    color: cornsilk;
    background-color: grey;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

#mul1 {
    margin: center;
}

#mul2 {
    margin: center;
}

#mulbtn {
    background-color: green;
    color: cornsilk;
    border-radius: 4px;
    margin: auto;
}


/*=========Calculation==========*/

#calculation {
    border: 2px solid black;
    border-radius: 5px;
    padding: 25px;
    margin: 20px;
    text-align: center;
}